@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f6f9fb;
}

.blue-background {
  background-color: #f6f9fb;
}

.fact-gradient {
  background: linear-gradient(
    77.39deg,
    rgb(33, 212, 203) 26.19%,
    rgba(125, 33, 207, 0.502) 81.85%
  );
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
